* {box-sizing: border-box;}

#contenedor {
	width: 90%;
	max-width: 900px;
	border: 1px solid blue;
	margin: auto;
	text-align: center;

}

#cabecera, #contenido, #pie {
	border: 1px dotted grey;
	overflow: hidden;

}
#logo, #menu, #principal, #lateral, .col-pie {
	padding: 2rem 0.7rem;
}
#cabecera div, #contenido div, #pie div{
	float: left;
}

#logo {
	width: 20%;
	background-color: lightblue;
/*	float: left;*/
}
#menu {
	width: 80%;
	background-color: lightcoral;
/*	float: left;*/
}

#principal {
	width: 80%;
	background-color: lightcyan;
}
#lateral {
	width: 20%;
	background-color: lightsalmon;
}
.col-pie {
	width: 33.33%;
	border: 1px dashed lightsalmon;
	background-color: #333;
	color: #fff;

}

.limpiar {
	clear: both;
}

