* { box-sizing:border-box; }

.item-grid {
	font-size: 1.5rem;
	padding: 1rem;
	border: 1px dotted grey;
	text-align: center;
}
/* por defecto 1 columna */

.contenedor {
	display: grid;
/*	grid-template-columns: 100%;*/
/*	grid-template-columns: repeat(1, 1fr);*/
	grid-template-columns: 1fr;
	gap: 0.5rem;

}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	/* 2 columnas: */
	.contenedor {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	/* 3 columnas: */
	.contenedor {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	/* 4 columnas: */
	.contenedor {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	/* 6 columnas: */
	.contenedor {
		grid-template-columns: repeat(6, 1fr);
	}
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
	/* 8 columnas: */
	.contenedor {
		grid-template-columns: repeat(8, 1fr);
	}
}