
/**
 * CSS Flexible Layout Module - Caja Flexible -
 */

* { box-sizing:border-box; }

.dos{
	background-color: #b6ebb3;
}
.uno {
	background-color: #bacee3;
}
.tres {
	background-color: #7ebdbb;
}

#cabecera {
	background-color: #202020;
	height: 170px;
	display: flex;
/*	flex-direction:row-reverse;, en lugar de justify-content: flex-end;*/
	justify-content: flex-end;
	align-items: center;
/*	padding-right: 12%;*/
/*  también podría dar un padding-right al #logo
	y tendría el mismo efecto visual
*/
}
/*
#logo {
	padding-right: 12%;
}
*/

h1 {
	text-align: center;
}

#viajes {
/*	border: 1px solid blue;*/
	display: flex;
	flex-wrap:wrap;

/*	flex-direction: row-reverse;*/
/* no vamos a usar row-reverse en este caso, 
porque al ser responsive, al llegar a table nos salta 
el primer Oporto y secoloca por debajo a la derecha 
(antinatural)
Resolvemos el orden con 'order' */
}

.viajes-item {
/*	border: 1px solid red;*/
	flex-basis: 100%;
	padding: 20px;

	display: flex;
	flex-direction: column;
}

.uno {
	order: 3;
}
.dos {
	order:2;
}
.tres {
	order: 1; /* no sería necesario, ya tiene 0 */
}

.viajes-item img {
	width: 100%;
	order: -1;
}

.viajes-item button {
	width: 35%;
	align-self: center;
	margin-top: auto;
}

/* X-Small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.viajes-item {
		flex-basis: 50%;
	}	
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.viajes-item {
		flex-basis: 33.33%;
	}	

}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}