/* 
Página para estilos propios (style.css)
*/

#menu {
	padding: 10px 0 10px 0;
}
	#menu .btn-group {
		margin-top:  12px;
	}
	#menu img, #alumnos img  {
		margin: 0 auto; 
		padding-top: 10px;
	}
	#menu .btn {
		font-size: 1.2em;
	}

#carousel {
	display: none;
}

#alumnos {
	background-color: #337ab7; /*azul primary de bootstrap*/
	color: #fff;
	text-align: center;
	padding: 20px 0;
}
	#alumnos h1 {
		font-weight: 900;
	}

	#alumnos-cont img, #contacto-cont img, #pie-cont img {
		width: 100%;
	}

	#alumnos-cont, #contacto-cont, #pie-cont {
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		row-gap: 10px;
		justify-content: space-between;
	}

	#alumnos-cont > div { /* items flex */
		padding: 5px;
		flex-basis: 45%; /* 90% / 2 = 45% */

	}
	#alumnos-cont > div:hover {
		border: 5px dotted #fff;
	}

#pie {
	background-color: #000;
	padding: 20px 0;
}

	
	#pie-cont > div {
		flex-basis: 100%;
/*		border: 1px solid white;*/
	}

	#pie-cont div:nth-child(3) {
		flex-basis: 30% ;
	}		

	#pie-cont img {
		margin-top: 40px;
	}

	#pie-cont ul {
		list-style-type: none;
		padding: 0;
	}

	#pie-cont a {
		color:#ccc;
	}	

	#pie-cont table {
		width: 100%;
	}	
	
	#pie-cont table tr {
		border-top: 1px solid #ccc;
	}	
	#pie-cont table td, #pie-cont table th {
		padding: 5px 0;
	}	
	#pie-cont table tr:hover {
		background-color: #ccc;
		color: #000;
	}	



#contacto {
	background-color: #337ab7; /*azul primary de bootstrap*/
	padding: 20px 12px;
	color: #fff;
}
	#contacto-cont>h1 {
		flex-basis: 100%; /* en todos los escenarios, no va a cambiar en los @media */
	}
	#contacto-cont>div {
		flex-basis: 100%;
	}

	#contacto-cont label {
		display: block;
	}
	#contacto-cont label.enlinea {
		display: inline-block;
	}
	#contacto-cont .campo {
		margin-bottom: 15px;
	}
	#contacto-cont input, #contacto-cont textarea {
		color: black;
	}
	#contacto-cont input[type="text"], #contacto-cont input[type="email"], #contacto-cont textarea {
		width: 100%;
	}	



/* Medium devices (tablets, 768px and up)*/
/* 3 columnas */
@media (min-width: 768px) {
	#alumnos-cont, #contacto-cont, #pie-cont {
		width: 90%;
	}
	#alumnos-cont > div {
		flex-basis: 30%; /* 90% / 3 = 30% */
	}
	#contacto-cont>div {
		flex-basis: 49%;
	}
	#pie-cont div {
		flex-basis: 30%;
	}
	#pie-cont div:nth-child(2) {
		flex-basis: 60%;
	}	


}


/* Large devices (desktops, 992px and up)*/
/* 4 columnas */
@media (min-width: 992px) {
	#carousel {	display: block;	}
	#alumnos-cont, #contacto-cont, #pie-cont {
		width: 85%;
	}

	#alumnos-cont > div {
		flex-basis: 15%; /* 90% / 6 = 15% */
	}	

	#pie-cont div {
		flex-basis: 22.5%;
		/*border: 1px solid white;*/
	}
	#pie-cont div:nth-child(2) {
		flex-basis: 45%;
	}	
}