/* 
Página para estilos propios (style.css)
*/

#menu {
	padding: 10px 0 10px 0;
}
	#menu .btn-group {
		margin-top:  12px;
	}
	#menu img, #alumnos img  {
		margin: 0 auto; 
		padding-top: 10px;
	}
	#menu .btn {
		font-size: 1.2em;
	}

#carousel {
	display: none;
}

#alumnos {
	background-color: #337ab7; /*azul primary de bootstrap*/
	color: #fff;
	text-align: center;
	padding: 20px 0;
}
	#alumnos h1 {
		font-weight: 900;
	}

	#alumnos-cont img {
		width: 100%;
	}

	#alumnos-cont {
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		row-gap: 10px;
		justify-content: space-between;
	}

	#alumnos-cont > div { /* items flex */
		padding: 5px;
		flex-basis: 45%; /* 90% / 2 = 45% */

	}
	#alumnos-cont > div:hover {
		border: 5px dotted #fff;
	}

#pie {
	background-color: #000;
	padding: 20px 0;
}

#contacto {
	background-color: #337ab7; /*azul primary de bootstrap*/
	padding: 20px 0;
}




/* Medium devices (tablets, 768px and up)*/
/* 3 columnas */
@media (min-width: 768px) {
	#alumnos-cont {
		width: 90%;
	}
	#alumnos-cont > div {
		flex-basis: 30%; /* 90% / 3 = 30% */
	}

}


/* Large devices (desktops, 992px and up)*/
/* 4 columnas */
@media (min-width: 992px) {
	#carousel {	display: block;	}
	#alumnos-cont {
		width: 85%;
	}

	#alumnos-cont > div {
		flex-basis: 15%; /* 90% / 6 = 15% */
	}	


}