
/**
 * CSS Flexible Layout Module - Caja Flexible -
 */

* { box-sizing:border-box; }

.dos{
	background-color: #b6ebb3;
}
.uno {
	background-color: #bacee3;
}
.tres {
	background-color: #7ebdbb;
}

#cabecera {
	background-color: #202020;
	height: 170px;
	display: grid;
	grid-template-columns: 1fr; /* o 100%, por defecto ya tenemos 1 columna al 100% */
	/* alineación items horizontal y vertical */
	justify-items: end; /* por defecto strech */
	align-items: center; /* por defecto strech */	
}

h1, h3 {
	text-align: center;
}

#viajes {
	border: 1px solid blue;
	display: grid;
	grid-template-columns: 1fr;
	/* solución con areas: */
	grid-template-areas: 
		"tres"
		"dos"
		"uno";		

}


.viajes-item {
/*	border: 1px solid red;*/
	padding: 20px;
	display: grid;
	

/*	grid-row: 1/2;*/ /* en caso de no usar areas */
}
/* en caso de no usar areas: */
/*
.viajes-item.tres {
	grid-column: 1/2;
}
.viajes-item.dos {
	grid-column: 2/3;
}
.viajes-item.uno {
	grid-column: 3/4;
}

*/
/* solución de colocación de .viajes-item usando areas */
.viajes-item.tres{	grid-area: tres;}
.viajes-item.dos{	grid-area: dos;}
.viajes-item.uno{	grid-area: uno;}

	.viajes-item img {
		grid-row: 1 / 2; /* la imagen va en la primera fila */
	}

.viajes-item img {
	width: 100%;
}

.viajes-item button {
	width: 35%;
	justify-self: center;	
	margin-top: auto;
}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	#viajes {
/*		grid-template-columns: repeat(2, 1fr);*/
/*		grid-template-areas: 
			"tres dos"
			"uno";*/
	}		
	

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	#viajes {
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas: 
			"tres dos uno";
	}

}